<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointments</title>
    <link rel="stylesheet" href="styles/styles.css"> 
    <script src="js/index.js" defer></script>
</head>
<body>
    <form id="pizza-form" action="/submit-order" method="post">
        <div>
            <label>First Name</label>
            <input type="text" name="fname" id="fname-input"></input>
            <p id="first-name-error">First name is required.</p>
        </div>
        <div>
            <label>Last Name</label>
            <input type="text" name="lname" id="lname-input"></input>
            <p id="last-name-error">First name is required.</p>
        </div>
        <div>
            <label>Date</label>
            <input type="date" name="date"></input>
        </div>
        <div>
            <label>Time</label>
            <input type="time" name="time"></input>
        </div>
        <div>
            <label>Submit</label>
            <input type="submit" name="submit" ></input>
        </div>
    </form>
</body>
</html>