<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointments</title>
    <link rel="stylesheet" href="/public/styles/styles.css"> 
</head>
<body>
    <form id="pizza-form" action="/submit-order" method="post">
        <div>
            <label>First Name</label>
            <input type="text" name="fname"></input>
        </div>
        <div>
            <label>Last Name</label>
            <input type="text" name="lname"></input>
        </div>
        <div>
            <label>Date</label>
            <input type="date" name="date"></input>
        </div>
        <div>
            <label>Time</label>
            <input type="time" name="time"></input>
        </div>
        <div>
            <label>Submit</label>
            <input type="submit" name="submit"></input>
        </div>
    </form>
</body>
</html>